<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ $title }}, {{ $user?.name }} !
  </h1>
  
  <p (click)="$onClick($event)" [textContent]="$user?.name"></p>

  <form>
    <label>Username : </label>
    <input type="text" #name>

    <button type="button" (click)="$addUser(name.value)">Add user</button>
  </form>
</div>

<div [ngSwitch]="$userService.getUsers().length">
    <div *ngSwitchCase="0">no user number</div>
    <div *ngSwitchDefault="">user number : {{ $userService.getUsers().length }}</div>
</div>

<ul>
  <li 
    *ngFor="let user of $userService.getUsers(); let i = index"
    [ngClass]="{ 'red': user.isHightlight() }"
    (click)="toggleHighlight(user)">
    {{i+1}} : {{user.name}}
  </li>
</ul>