<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ $title }}, {{ $user?.name }} !
  </h1>
  
  <p (click)="$onClick($event)" [textContent]="$user?.name"></p>

  <div>
    <label>Username : </label>
    <input type="text" #name>

    <button type="button" (click)="$addUser(name.value)">Add user</button>
  </div>
  <div>
    <label>Filter : </label>
    <input type="text" #filtername placeholder="by name">

    <button type="button" (click)="setFilter(filtername.value)">Add filter</button>
  </div>
</div>

<div [ngSwitch]="$userService.getUsers().length">
    <div *ngSwitchCase="0">no user number</div>
    <div *ngSwitchDefault="">user number : {{ $userService.getUsers().length }}</div>
</div>

<ul>
  <app-user
    *ngFor="let user of $userService.getUsers() | usersByName:filter ; let i = index"
    (click)="toggleHighlight(user)"
    [index]="i"
    [user]="user">
  </app-user>
</ul>