<button type="button" class="btn btn-primary" (click)="openModal(template)">add bet </button>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Let's bet !</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col">
        <form class="form-inline" (ngSubmit)='submit()' #betform="ngForm">
          <div class="form-row">

            <div class="form-group col-md-5">
              <input class="form-control" type="number" name="teama" placeholder="Amount..." [(ngModel)]="bet.amount" required>
            </div>

            <div class="form-group col-md-5">
              <input class="form-control" type="text" name="teamb" placeholder="team A (your call)" [(ngModel)]="bet.teama">
            </div>

            <div class="form-group col-md-5">
              <input class="form-control" type="text" name="amount" placeholder="team B (your call)" [(ngModel)]="bet.teamb">
            </div>

            <div class="form-group col-md-auto">
              <button class="form-control" [disabled]="betform.invalid" class="btn btn-primary">Bet !</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>



</ng-template>
